/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */

 body {
  background-color: #CCBDCC;
  background-size: cover;
  background-position: relative;
  margin-top: 100px;
  padding-bottom: 5%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

.container {
  max-width: 1350px;
}

 #map {
    height: 100%;
  }

  img {
    height: 300px;
  }

  .photos {
    width: 100%;
    max-width: 360px;
    height:auto;
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 5px;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  h1, h2 {
    text-align: center;
    color:#A41165;
    margin-bottom: 20px;
  }

  h2 {
    text-align: center;
    color: #4b274b;
    margin-bottom: 20px;
  }

  h4 {
    text-align: center;
    color: #fff
  }

  .category {
    height: 200px;
    border-radius: 10px;
    margin: 10px;
  }
  

/**** Flash Messages Style ****/
.alert-success {
  background-color: #88a763;
  border-color: #A6BB8D;
}

/**** Nav Bar Style ****/
.navbar {
  padding: 0px;
}

.navbar .navbar-main {
  background-color: #A6BB8D;
  color: #A41165;
  width: 100%;

}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: #A41165;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: #A41165;
}

/* change the color of active or hovered links */
.navbar-brand:hover, .navbar-brand.active,
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #faf3f5;
}

/**** Modal Forms Style ****/

.modal-content{
  background: #b6c6a2;
  top: 40px;
}

.btn-close {
  position: absolute;
  right: 0;
  padding: 1em;
}

.form-area h1 {
  font-size: 2.3em;
  font-weight: bold;
}

.form-area {
	padding: 3em;
	max-width: 100%;
  background: #b6c6a2;
}

.form-control {
  background-color: inherit;
  color: #CCBDCC;
  padding-left: 0;
  border: 1px solid #fff;
  border-radius: 0;
}

.card .user-profile {
  background-color: #fff;
}

#save-changes {
  color: #CCBDCC;
  background-color: #A41165;
}

.form-control, .profile, .user-profile {
  color: #654265;
  background-color: #fff;
  border-color: #654265;
}

.form-area .btn {
	width: 50%;
  margin: 0 auto;
  display: block;
	font-weight: 500;
	background-color: #fff;
  color: #A41165;
	padding: 0.5em 0;
	border-radius: 50px;
}

.form-area .btn:hover {
  background-color: inherit;
  color: #fff;
  border-color: #fff;
}

.form-area p {
  text-align: center;
  padding-top: 2em;
  color: #fff;
}

.form-area p a {
  color: #e1e1e1;
  text-decoration:solid;
}

.form-area p a:hover {
    color: #fff;
  }

.modal-backdrop {
  z-index: auto;
  top: auto;
}

#SignUpModalForm.active,
#SignInModalForm.active{
  top: 50%;
  transition: .5s;
  visibility: visible;
  opacity: 1;
}

.collapse.active{
  filter:blur(20px);
  transition: .5s;
  pointer-events: none;
}


/**** Cards Style  ****/
.card-title, .card-text, .card-footer {
  text-align: center;
}

.search-by-animal-type .card {
  background: #CCBDCC;
  border: #CCBDCC;
}

.card-title {
  color: #A41165;
}

.card-text {
  color: #816a81;
}

.card-footer {
  color: #6a4c6a
}

#favorite-button, #unfavorite-button, #email-btn {
  color: #CCBDCC;
  background-color: #A41165;
  border-color: #A41165;
}

#favorite-button:hover, #unfavorite-button:hover, #email-btn:hover {
  color: #A41165;
  background-color: #CCBDCC;
  border-color: #A41165;
}

.card-body {
  text-align: center;
}
