/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
    height: 100%;
  }

  /* body {
    padding-top: 5%;
    /* display: flex; */
	  /* justify-content: left;
	  height: 100vh;
    background-color: #ccbdcc;
  } */

  img {
    height: 300px;
    width: 350;
  }

  .category {
    height: 200px;
    border-radius: 10px;
    margin: 10px;
  }

  body {
    background-color: #CCBDCC;
    background-size: cover;
    background-position: relative;
    margin-top: 100px;
  
  }
  
  
  /* @media (max-width: 979px) {
    body {
      padding-top: 0px;
    }
  } */

/**** Flash Messages Style ****/
.alert-success {
  background-color: #88a763;
}

/* .alert .alert-warning {
  color: #bebb50
} */

/**** Nav Bar Style ****/
.navbar {
  padding: 0px;
  
}

.navbar .navbar-main {
  background-color: #A6BB8D;
  color: #A41165;
  width: 100%;

}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: #A41165;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: #A41165;
}

/* change the color of active or hovered links */
.navbar-brand:hover, .navbar-brand.active,
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #faf3f5;
}

/* for dropdown only - change the color of droodown */
/* .navbar-custom .dropdown-menu {
  background-color: #ff5500;
}

.navbar-custom .dropdown-item {
  color: #ffffff;
}

.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
  color: #FA7070;
  background-color: rgba(255,255,255,.5);
} */

/**** Modal Forms Style ****/

/* body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
  background-color: thistle;
 } */

.modal-content{
  background: #CCBDCC;
}

.btn-close {
  position: absolute;
  right: 0;
  padding: 1em;
}

.form-area h1 {
  font-size: 2.3em;
  font-weight: bold;
}

.form-area {
	padding: 3em;
	max-width: 100%;
  background: #A6BB8D;
	color: #fff;
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5);
}

.form-control {
  background-color: inherit;
  color: #fff;
  padding-left: 0;
  border: 1px solid #fff;
  border-radius: 0;
}

.form-area .btn {
	width: 100%;
	font-weight: 800;
	background-color: #fff;
	padding: 0.5em 0;
	border-radius: 50px;
}

/* .btn.btn-primary {
	padding: 7px 20px;
	font-family: alfa slab one;
	font-size: 16px;
	letter-spacing: 2px;
	border-radius: 50px;
  background-color: #FA7070;
} */

.form-area .btn:hover {
  background-color: inherit;
  color: #fff;
  border-color: #fff;
}

.form-area p {
  text-align: center;
  padding-top: 2em;
  color: #fff;
}

.form-area p a {
  color: #e1e1e1;
  text-decoration: none;
}

.form-area p a:hover {
    color: #fff;
  }

.modal-backdrop {
  z-index: auto;
}

#SignUpModalForm.active,
#SignInModalForm.active{
  top: 50%;
  transition: .5s;
  visibility: visible;
  opacity: 1;
}

.collapse.active{
  filter:blur(20px);
  transition: .5s;
  pointer-events: none;
}

  /* @media (max-width: 600px){
    .form-area{
        padding: 1.5em;
    }
    .form-area h1{
        font-size: 18px;
    }
  } */


/**** Cards Style  ****/
.card-title, .card-text, .card-footer {
  text-align: center;
}

.search-by-animal-type .card {
  background: #CCBDCC;
  border: #CCBDCC;
}

.card-title {
  color: #A41165;
}

.card-text {
  color: #816a81;
}

.card-footer {
  color: #6a4c6a
}

#unfavorite-button {
  color: #CCBDCC;
  background-color: #A41165;
}

.card-body {
  text-align: center;
}