{% extends 'base.html' %}

{% block title %}{{context['title']}}{% endblock %}

{% block body %}
<h1>{{ context['header'] }}</h1>


<p>{{ animal['name']|safe|title }}</p>
{% if animal.get('photos') %}
    {% if animal['photos']|length > 1 %}
        {% for photo in animal['photos'] %}
        <img src="{{ photo['medium'] }}">
        {% endfor %}
    {% else %}
        <img src="{{ animal['photos'][0]['medium'] }}">
    {% endif %}
{% endif %}
<p>{% if animal['tags'] %}Charachteristics: 
{% for tag in animal['tags'] %}
{{ tag }}, 
{% endfor %}{% endif %}</p>
<p>Breed: {{ animal['breeds']['primary'] }}
{% if animal['breeds']['secondary'] %}
, {{ animal['breeds']['secondary'] }}
{% endif %}</p>
<p>{% if animal['description'] %}
    {{ animal['description']|safe }}<a href="{{animal['url']}}">Read more about {{ animal['name']|safe|title }}</a>
{% endif %}</p>
<p>Gender: {{ animal['gender'] }}</p>
<p>{% if animal['colors']['primary'] %}Color: {{ animal['colors']['primary'] }}
    {% if animal['colors']['secondary'] is not none %}
    , {{ animal['colors']['secondary'] }}
    {% endif %}{% endif %}
</p>
<p>Size: {{ animal['size'] }}</p>
<p>{% if animal['environment']['children'] or animal['environment']['dogs'] or animal['environment']['cats'] %}
    {{ animal['name']|safe|title }} is good at home with: 
    {% if animal['environment']['children'] and animal['environment']['dogs'] and animal['environment']['cats'] %}children, dogs, and cats
    {% elif animal['environment']['children'] and animal['environment']['dogs'] %}children and dogs
    {% elif animal['environment']['children'] and animal['environment']['cats'] %}children and cats
    {% elif animal['environment']['children'] %}children
    {% elif animal['environment']['dogs'] and animal['environment']['cats'] %}dogs and cats
    {% elif animal['environment']['dogs'] %}dogs
    {% elif animal['environment']['cats'] %}cats
    {% endif %}
{% endif %}</p>
<p id="city">City: {{ animal['contact']['address']['city'] }}, {{ animal['contact']['address']['state'] }}, {{ animal['contact']['address']['postcode'] }}</p>
<script> let googleGeoKey = "{{ google_geo_key }}"</script>
<p id="zipcode" data-zipcode="{{ animal['contact']['address']['postcode'] }}"></p>


<p>{% if animal['contact']['email'] %}Contact: <a href="mailto:{{ animal['contact']['email'] }}?subject=Inquiry about {{ animal['name']|safe|title }} id:{{ animal['id'] }} from HappyPaws user&body=Hi, I am interested in adopting {{ animal['name']|safe|title }} ({{ animal['id'] }}). Could you please send me the application form and details on the application process? ">{{ animal['contact']['email'] }}{% endif %}</a></p>

<p id="org-id" data-org-id="{{ animal['organization_id'] }}"></p>


<!-- Button to favorite the animal -->
<a href="/favorite/{{animal['id']}}" class="btn btn-primary">Favorite</a><br><br>


<!-- Button to email shelter -->
<a href="mailto:{{ animal['contact']['email'] }}?subject=Inquiry about {{ animal['name']|safe|title }} id:{{ animal['id'] }} from HappyPaws user&
body=Hi, I am interested in adopting {{ animal['name']|safe|title }} ({{ animal['id'] }}). 
Could you please send me the application form and details on the application process? "
class="btn btn-primary">Send Email Inquiry</a><br><br>


<!-- Inserting Google Map to show the location of the shelter where chosen animal is -->

<div id="map" style="height: 350px; width: 350px;"></div>
<script src="/static/js/map.js"></script>

<!-- Google Maps -->

<script async src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap"></script>
<script></script><br><br>



<div id="recently-viewed">
{% if recently_viewed_animals != []  %}
<h3>Recently viewed animals</h3>
<div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-xs-1 g-5">{% for recent_animal in recently_viewed_animals %}
  <div class="col">{% if recent_animal['animal_type'] == 'dog' %}
    <a href="/dog/{{ recent_animal['org_id'] }}/{{ recent_animal['animal_id'] }}">
    <div class="card h-100">{% if recent_animal['image'] %}
      <img src="{{ recent_animal['image'] }}" class="card-img-top" alt="animal"></a>
      <div class="card-body">
        <h5 class="card-title">{{ recent_animal['animal_name']|safe|title }}</h5>
        <p class="card-text">{{ recent_animal['breed'] }}</p>
      </div>
      {% endif %}
    </div>
    {% elif recent_animal['animal_type'] == 'cat' %}
          <a href="/cat/{{ recent_animal['org_id'] }}/{{ recent_animal['animal_id'] }}">
            <div class="card h-100">{% if recent_animal['image'] %}
              <img src="{{ recent_animal['image'] }}" class="card-img-top" alt="animal"></a>
              <div class="card-body">
                <h5 class="card-title">{{ recent_animal['animal_name']|safe|title }}</h5>
                <p class="card-text">{{ recent_animal['breed'] }}</p>
              </div>
              {% endif %}
            </div>
    {% elif recent_animal['animal_type'] == 'rabbit' %}
          <a href="/rabbit/{{ recent_animal['org_id'] }}/{{ recent_animal['animal_id'] }}">
            <div class="card h-100">{% if recent_animal['image'] %}
              <img src="{{ recent_animal['image'] }}" class="card-img-top" alt="animal"></a>
              <div class="card-body">
                <h5 class="card-title">{{ recent_animal['animal_name']|safe|title }}</h5>
                <p class="card-text">{{ recent_animal['breed'] }}</p>
              </div>
              {% endif %}
            </div>
    {% elif recent_animal['animal_type'] == 'bird' %}
          <a href="/bird/{{ recent_animal['org_id'] }}/{{ recent_animal['animal_id'] }}">
            <div class="card h-100">{% if recent_animal['image'] %}
              <img src="{{ recent_animal['image'] }}" class="card-img-top" alt="animal"></a>
              <div class="card-body">
                <h5 class="card-title">{{ recent_animal['animal_name']|safe|title }}</h5>
                <p class="card-text">{{ recent_animal['breed'] }}</p>
              </div>
              {% endif %}
            </div>
  {% endif %}
</div>
{% endfor %}</div>
{% endif %}
</div>

{% endblock %}