{% extends 'base.html' %}
{% block title %}Pet Shelter Home{% endblock %}

{% block head %}
<script type="text/javascript">
  function populate(s1, s2) {
    var s1 = document.getElementById(s1);
    var s2 = document.getElementById(s2);
    s2.innerHTML = "";

    if (s1.value == "dog") {
      var breeds = {{ dog_breeds|safe }};
    } else if (s1.value == "cat") {
      var breeds = {{ cat_breeds|safe }};
    } else if (s1.value == "rabbit") {
      var breeds = {{ rabbit_breeds|safe }};
    } else if (s1.value == "bird") {
      var breeds = {{ bird_breeds|safe }};
    }

    for (var breed of breeds) {
      var newOption = document.createElement("option");
      newOption.value = breed;
      newOption.innerHTML = breed;
      s2.options.add(newOption);
    }
  }
</script>
{% endblock %}

{% block body %}



<div id="page" class="container">
  <h1>This is a homepage</h1>

  
  
  <div id="search-by-breed">
  <form id="animal-search" action="/" method="post">

    <label for="animal_type" id="animal_type">Animal type:</label><br>
    <select class="get_animal_type" id="type" name="type" onchange="populate('type', 'breed')">
      <option value="">Choose animal type</option>
      <option value="dog">Dog</option>
      <option value="cat">Cat</option>
      <option value="rabbit">Rabbit</option>
      <option value="bird">Bird</option>
    </select><br>

    <label for="breed">Breed:</label><br>
    <select class="get_animal_breed" id="breed" name="breed">
      <option value="">Choose breed</option>
    </select><br>

    <label for="location">Zipcode:</label><br>
    <input type="text" pattern="[0-9]{5}" id="location" name="location" placeholder="Enter 5-digit zipcode"><br>
    <input type="submit" value="Search"><br>
  </form>
  </div>

  

  <div class="row">
    <div class="col">
      <a href="/animals/dog"><img src="/static/img/dog.jpg" class="category" height="200px"><br>Search dogs</a><br>
    </div>
    <div class="col">
      <a href="/animals/cat"><img src="/static/img/cat.jpg" class="category" height="200px"><br>Search cats</a><br>
    </div>
    <div class="col">
      <a href="/animals/rabbit"><img src="/static/img/rabbit.jpg" class="category" height="200px"><br>Search rabbits</a><br>
    </div>
    <div class="col">
      <a href="/animals/bird"><img src="/static/img/bird.jpg" class="category" height="200px"><br>Search birds</a><br>
    </div>
    <div class="col">
      <a href="/view/organizations"><img src="/static/img/organization_main.jpg" class="category" height="200px"><br>Search organizations</a><br>
    </div>
  </div>
</div>



<div id="recently-viewed">
{% if recently_viewed_animals != []  %}
<h3>Recently viewed animals</h3>
<div class="row row-cols-md-3 g-5">{% for recent_animal in recently_viewed_animals %}
  <div class="col">{% if recent_animal['animal_type'] == 'dog' %}
    <a href="/dog/{{ recent_animal['org_id'] }}/{{ recent_animal['animal_id'] }}">
    <div class="card h-100">{% if recent_animal['image'] %}
      <img src="{{ recent_animal['image'] }}" class="card-img-top" alt="animal">
      <div class="card-body">
        <h5 class="card-title">{{ recent_animal['animal_name']|safe|title }}</h5>
        <p class="card-text">{{ recent_animal['breed'] }}</p>
      </div>
      {% endif %}
    </div></a>
    {% elif recent_animal['animal_type'] == 'cat' %}
          <a href="/cat/{{ recent_animal['org_id'] }}/{{ recent_animal['animal_id'] }}">
            <div class="card h-100">{% if recent_animal['image'] %}
              <img src="{{ recent_animal['image'] }}" class="card-img-top" alt="animal">
              <div class="card-body">
                <h5 class="card-title">{{ recent_animal['animal_name']|safe|title }}</h5>
                <p class="card-text">{{ recent_animal['breed'] }}</p>
              </div>
              {% endif %}
            </div></a>
    {% elif recent_animal['animal_type'] == 'rabbit' %}
          <a href="/rabbit/{{ recent_animal['org_id'] }}/{{ recent_animal['animal_id'] }}">
            <div class="card h-100">{% if recent_animal['image'] %}
              <img src="{{ recent_animal['image'] }}" class="card-img-top" alt="animal">
              <div class="card-body">
                <h5 class="card-title">{{ recent_animal['animal_name']|safe|title }}</h5>
                <p class="card-text">{{ recent_animal['breed'] }}</p>
              </div>
              {% endif %}
            </div></a>
    {% elif recent_animal['animal_type'] == 'bird' %}
          <a href="/bird/{{ recent_animal['org_id'] }}/{{ recent_animal['animal_id'] }}">
            <div class="card h-100">{% if recent_animal['image'] %}
              <img src="{{ recent_animal['image'] }}" class="card-img-top" alt="animal">
              <div class="card-body">
                <h5 class="card-title">{{ recent_animal['animal_name']|safe|title }}</h5>
                <p class="card-text">{{ recent_animal['breed'] }}</p>
              </div>
              {% endif %}
            </div></a>
  {% endif %}
</div>
{% endfor %}</div>
{% endif %}
</div>

{% endblock %}




