{% extends 'base.html' %}
{% block title %}View Organizations{% endblock %}

{% block body %}

  <h1>Organizations Nearby:</h1>
  {% if organizations|length > 0 %}
  <ul>
    {% for organization in organizations %}
      
      <li><a href="/view/organizations/{{ organization['id'] }}">
        {% if organization['photos']|length > 0 %}
        <img src="{{ organization['photos'][0]['full'] }}"><br>
        {% else %}
          <img src="/static/img/organization.jpg"><br>
        {% endif %}
        {{ organization['name'] }}</a><br>
        {{ organization['address']['city'] }}</li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No nearby organizations found.</p>
  {% endif %}

{% endblock %}