{% extends 'base.html' %}

{% block title %}View Organization{% endblock %}

{% block body %}
<h1>Organizations Nearby</h1>


<p>{{ organization['name'] }}</p>
{% if organization.get('photos') %}
<img src="{{ organization['photos'][0]['medium'] }}">
{% endif %}
{% if organization.get('website') %}
<p>Go to {{ organization['name'] }}'s <a href="{{ organization['website'] }}">website</a>.</p>
{% endif %}
<p id="city">{{ organization['address']['city'] }}, {{ organization['address']['state'] }}, {{ organization['address']['postcode'] }}</p>
<p id="zipcode" data-zipcode="{{ organization['address']['postcode'] }}"></p>

<!-- <script>console.log(address)</script> -->
<p><a href="mailto:{{ organization['email'] }}?subject=Inquiry from HappyPaws user&body=Hi, I am interested in your adopting policy. Could you please send me the application form and details on the application process? ">{{ organization['email'] }}</a></p><br>
{% if organization.get('phone') %}
<p>Phone: {{ organization['phone'] }}</p><br>
{% endif %}
<p id="org-id" data-org-id="{{ organization['id'] }}"></p>


<!-- Inserting Google Map to show the location of the shelter where chosen animal is -->
<div id="map" style="height: 350px; width: 350px;"></div>
<script src="/static/js/map.js"></script>

<!-- Google Maps -->
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtCWjHEQ_rLq4u313xIR0sCLt7yIuV5SM&callback=initOrgMap"></script>
<script></script>


{% endblock %}